a { border-bottom: none; color: black; }
a.noteref, a.noteback { font-family: sans-serif; text-decoration: none; border-bottom: none; font-style: normal; font-variant: normal; }
a.noteref:hover, a.noteback:hover { text-decoration: none; border-bottom: solid 1px; }
div.bibl { margin-bottom: 0.5em; }
div.xr { font-style: italic; }
h2.head { font-size: 110%; }
h1.head { font-size: 150%; }
.pb { font-size: 13px; margin-right: -4em; font-variant: normal;}
.titlePage .docAuthor { margin-bottom: 100px; }
.role { font-weight: normal; }